## HW scoring clarifications

Once again, how do we score you home assignment.

- You have to fill the google form for each question (e.g. 1, 2, 3, etc.) and each 'subtask' (e.g. 1.1, 1.3; 2.3, 2.2, etc.) **you asked for** in the google sheets.

- If a question is not in the google sheet (e.g. question 13, 17), it **does not mean that they are optional**. They will be checked manually.

- You have to submit filled `.ipynb` file (very last question in the google form).

- `.ipynb` file must be **linearly executable** (`Kernel -> Restart & Run All -> No ERROR cells`). It is your task to make it so. ```If this condition is not satisfied, we will be forced to lower the grade.```

- We do not grade the scores you obtain in part 7 with your models (you are free to use different feautres). However, not normalizing *numerical* features for linear regression, using the `price` as a feature (features, that are derived from price), not dealing with categorical features will be considered as mistakes.

- You do not need to defend an assignment.

## Each student has personal set of questions

Google sheet with personal questions: https://docs.google.com/spreadsheets/d/1y9edy0BksXGO8BbN_hvsdylCpE-ly5b7hsUvI0EKGqE/edit?usp=sharing

Every column corresponds to a single question, every row to a single student.

For example, Abramov Denis need to report questions  1.1, 1.2, 1.3, 1.4, 2.1, 2.2, 3.1, 3.5 etc.

## Submiting results

Google form to submit your answers: https://docs.google.com/forms/d/e/1FAIpQLSfKWK7IRDd69L4GaoBIMhRJZmE58GM45hAS5d0-PRcafLICvw/viewform?usp=sharing&ouid=106266919004479425398

Google form has fields for all questions, but you only need to answer **your** questions (from google sheet above).

Use your **skoltech email**. Fill your first and last names with **exactly same spelling** as in canvas system.

Almost all questions in google form will be checked automatically, so it is important to give them in the correct form, e.g.

---

Every question has an information about the type of the answer, e.g.

> Observe top 10 observations (int)

here your answer must be a single **integer** number.

---

If your answer is a ``float number``, then it must be provided with **3 decimals after the floating point**, e.g. 1.234

---

If your answer is a ``list of float or integer numbers or str``, then they should be reported in descending (alphabetical) order, without spacing, divided by a comma, e.g.:

10.453,9.112,5.001,5.000 - **Right**

10.453, 9.112, 5.001, 5.000 - **Wrong**


If you are reporting a float value (or a list of float values) to a rule it must be provided with **3 decimals after the floating point**, e.g. 1.234

0.51,0.0 - wrong

0.5100,0.0000 - wrong

0.510,0.000 - right

In question Q1.3, where you need to answer the question, Which columns are associated... you need to give a list of multiple rows, then the rule in the explanation applies to them

then they should be reported in alphabetical order, without spacing, divided by a comma(!)

column_b, column_c, column_a - wrong

column_a,column_b,column_c - right

In special question Q5 you are deliberately asked to give your answer in alphabetical order, but remember: without spacing, divided by a comma(!)

4,20,... - right

4, 20, ... - wrong

[4,20,...] - wrong

20,4,.. - wrong

---

In problem Q6
The answers must be in the order max,min,mean,std (without spacing, divided by a comma(!)).


For questions Q18.1-Q18.2 str name of weekday good, but I think int number can be enough

For int values
8.0 - wrong
8 - right

Please don't google form answers - “look in the notebook, the answer is there”. That's not how it works) Some of the questions will be checked automatically any
 

The question Q1.3  (# Q1.3 Which columns are associated with the condition of weather?) requires the answer of “WHICH” columns 
That is assuming a list with rows, not numbers

---

Part of the tasks do not have corresponding fields in the google form. They are **not optional** and they will be graded manually from your .ipynb file.

---

If you have any questions regarding this Home Assignment, ask them via telegram chat, topic 'HW1'.

# Assignment 1. Traffic volume prediction.

---

By the end of this task you will be able to manipulate huge tabular data:
1. Compute different column's statistics (min, max, mean, quantiles etc.);
2. Select observations/features by condition/index;
3. Create new non-linear combinations of the columns (feature engineering);
4. Perform automated data cleaning;

and more.

---

For those who are not familiar with `pandas` we recommend these (alternative) tutorials:

1. Single notebook, covers basic pandas functionality (starting with renaming columns ending with using map, apply etc) ~ 30 short examples with links on videos https://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb . Highly recommended for everyone. (about 1-3 hours to go through)

2. https://github.com/guipsamora/pandas_exercises/ 11 topics covering all essential functionality with excersises (with solutions).

This task will be an easy ride after these tutorials.

---

We are using a public dataset compiling weather information and traffic data continuously monitored in the Twin Cities, Minnesota from 2012 to 2018. The dataset page can be found [here](https://archive.ics.uci.edu/ml/datasets/Metro+Interstate+Traffic+Volume). We've slightly modified it so please download the dataset provided on Canvas.  

You need to download `Metro_Interstate_Traffic_Volume_mod.csv` from Canvas and place it in the same directory as this notebook.

In [6]:
import numpy as np
import pandas as pd

# 1. Loading data

As always in Data Science you are starting with making nice cup of tea (or coffee). Your next move is to load the data:

- Start with loading `Metro_Interstate_Traffic_Volume_mod.csv` file using `pd.read_csv()` function.
- You may also want to increase maximal displayed pandas columns: set `pd.options.display.max_columns` to 30
- Print top 10 observations in the table. `.head()`
- Print last 10 observations in the table. `.tail()`
- Print all the data columns names using method `.columns`
- Print data size (number of rows and columns). This is the `.shape` of the data.

*Almost* every python has a `head` and a `tail` just as DataFrames do.

If you are using Google Colab, you can upload the file in the cell below. If you are NOT using Colab, set COLAB_P in the cell below to False.

In [8]:
COLAB_P = False
if COLAB_P:
    print("Upload your file, then read it with pd.read_csv()")
    from google.colab import files
    uploaded = files.upload()
    fn = list(uploaded.keys())[0]
    print("File is uploaded to ", fn)
else:
    print("Place your file to the same directory as the notebook, then read your file with pd.read_csv()")

Place your file to the same directory as the notebook, then read your file with pd.read_csv()

In [9]:
pd.set_option('display.max_columns', 30)

In [10]:
# Load the data
df = pd.read_csv("Metro_Interstate_Traffic_Volume_mod_.csv")

In [11]:
# Observe top 10 observations (int)
df.head(10)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,none,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0
1,none,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0
2,none,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0
3,none,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0
4,none,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0
5,none,291.72,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 14:00:00,5181.0
6,none,293.17,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 15:00:00,5584.0
7,none,293.86,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 16:00:00,6015.0
8,none,294.14,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 17:00:00,5791.0
9,none,293.10,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 18:00:00,4770.0

In [12]:
# Observe last 10 observations (int)
df.tail(10)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
48194,none,283.84,0.00,0.0,75.0,Rain,proximity shower rain,2018-09-30 15:00:00,4302.0
48195,none,283.84,0.00,0.0,75.0,Drizzle,light intensity drizzle,2018-09-30 15:00:00,4302.0
48196,none,284.38,0.00,0.0,75.0,Rain,light rain,2018-09-30 16:00:00,4283.0
48197,none,284.79,0.00,0.0,75.0,Clouds,broken clouds,2018-09-30 17:00:00,4132.0
48198,none,284.20,0.25,0.0,75.0,Rain,light rain,2018-09-30 18:00:00,3947.0
48199,none,283.45,0.00,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0
48200,none,282.76,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0
48201,none,282.73,0.00,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0
48202,none,282.09,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0
48203,none,282.12,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0

In [13]:
# Print all the columns/features names (int)
print (*df.columns, sep=', ')

holiday, temp, rain_1h, snow_1h, clouds_all, weather_main, weather_description, date_time, traffic_volume

**Q1.1 How many columns end with a vowel (aeiou)?**

In [15]:
vowels = ('a', 'e', 'i', 'o', 'u')
count = len([i for i in df.columns if i[-1] in vowels])
print (f'Number of columns end with a vowel: {count}')

Number of columns end with a vowel: 2

**Q1.2 How many columns start with a vowel (aeiou)?**

In [17]:
vowels = ('a', 'e', 'i', 'o', 'u')
count = len([i for i in df.columns if i[0] in vowels])
print (f'Number of columns start with a vowel: {count}')

Number of columns start with a vowel: 0

**Q1.3 Which columns are associated with the condition of weather?**

In [19]:
count = sorted([i for i in df.columns if 'weather' in i])
count_s = ",".join(count)
print (f'Columns that are associated with the condition of weather: {count_s}')

Columns that are associated with the condition of weather: weather_description,weather_main

**Q1.4 How many columns have `th` in their names?**

In [21]:
count = len ([i for i in df.columns if 'th' in i])
print (f'Number of columns that are associated with the condition of weather: {count}')

Number of columns that are associated with the condition of weather: 2

**Q2.1 How many observations are in the data?**

In [23]:
print ('Number of observations: ', df.drop_duplicates().shape[0])

Number of observations:  48187

**Q2.2 How many features are in the data?**

In [25]:
print ('Number of features: ', df.shape[1])

Number of features:  9

# 2. Basic data exploration

Lets do some basics:

`.count()` number of not NaN's in every column.
    
Is there any missing values in the data?     
Count number of unique values in every column .nunique().    
What does this tells you about the features, which are most likely categorical and which are most likely numerical?    
Use pandas `.describe()` to display basic statistic about the data.   
Use pandas `.value_counts()` to count number of unique values in a specific column.   
Use pandas `.min()`, `.max()`, `.mean()`, `.std()` to display specific statistics about the data.    
Use pandas `.dtypes` field to display data types in columns. 
Hint You could use `.sort_index()` or `.sort_values()` to sort the result of `.value_counts()`

In [27]:
# Display number of not NaN's in every column (int)
not_Nans_columns = df.count()
print(not_Nans_columns)
# Explicit NA can be find by df.isna() method and equal to np.nan

holiday                48204
temp                   48203
rain_1h                48203
snow_1h                48204
clouds_all             48201
weather_main           48203
weather_description    48201
date_time              48204
traffic_volume         48199
dtype: int64

**Q3.1 How many explicit NA values are in the `clouds_all` column?**

In [29]:
count = df['clouds_all'].isna().sum()
print(f'Number of explicit NA values in "clouds_all" column: {count}')

Number of explicit NA values in "clouds_all" column: 3

**Q3.5 How many explicit NA values are in the `traffic_volume` column?**

In [31]:
count = df['traffic_volume'].isna().sum()
print(f'Number of explicit NA values in "traffic_volume" column: {count}')

Number of explicit NA values in "traffic_volume" column: 5

In [32]:
# Now drop rows with NaN with `.dropna`. Remeber to either reassign your dataframe or provide `inplace=True` argument.
# The 'none' string is not considered NaN and should not be dropped 
df_clean = df.dropna()

In [33]:
# Display basic data statistics using .describe()
df_clean.describe()

               temp       rain_1h       snow_1h    clouds_all  traffic_volume
count  48190.000000  48190.000000  48190.000000  48190.000000    48190.000000
mean     281.201366      0.334356      0.000222     49.369267     3259.859079
std       13.337406     44.795638      0.008169     39.016127     1986.972809
min        0.000000      0.000000      0.000000      0.000000        0.000000
25%      272.160000      0.000000      0.000000      1.000000     1192.250000
50%      282.440000      0.000000      0.000000     64.000000     3380.000000
75%      291.800000      0.000000      0.000000     90.000000     4933.000000
max      310.070000   9831.300000      0.510000    100.000000     7280.000000

In [34]:
# Count number of unique values in every column (int)

**Q4.2 How many unique values are in the `weather_main` column?**

In [36]:
count = df_clean['weather_main'].nunique()
print (f'Number of unique values in the "weather_main" column: {count}')

Number of unique values in the "weather_main" column: 11

**Q4.5 How many unique values are in the `rain_1h` column?**

In [38]:
count = df_clean['rain_1h'].nunique()
print (f'Number of unique values in the "rain_1h" column: {count}')

Number of unique values in the "rain_1h" column: 372

In [39]:
# Count frequency of the values in different columns (list of ints in this ascending(!) order)
# You could select a column using same syntax as for selecting a key from a dictionary: `data[colname]`
# numpy's `unique` function can be useful for this task

**Q5.1 For every unique `weather_main` value give its number of occurences.**

In [41]:
freq = df_clean['weather_main'].value_counts(ascending=True)
list_freq = list(freq)
print(f'Number of occurences for every uniqbe "weather_main" value: ' + ",".join(str(i) for i in list_freq))

Number of occurences for every uniqbe "weather_main" value: 4,20,912,1034,1359,1821,2876,5671,5950,13384,15159

**Q5.2 For every unique `weather_description` value give its number of occurences.**

In [43]:
freq = df_clean['weather_description'].value_counts(ascending=True)
list_freq = list(freq)
print(f'Number of occurences for every uniqbe "weather_description" value: ' + ",".join(str(i) for i in list_freq))

Number of occurences for every uniqbe "weather_description" value: 1,2,2,3,4,6,6,11,13,13,15,18,20,37,52,54,63,64,125,136,293,467,616,651,673,912,1100,1359,1664,1726,1946,1955,3371,3458,4665,5081,5950,11658

In [44]:
# Display some column statistics (list of floats, rounded up to 3 digits, e.g. 1.234)

**Q6.2 What are the max, min, mean and the std of the `clouds_all` column?**

In [46]:
lst = [df_clean['clouds_all'].max(), df_clean['clouds_all'].min(), df_clean['clouds_all'].mean(), df_clean['clouds_all'].std()]
r_list = [f"{i:.3f}" for i in lst]
print (f'Max, min, mean and the std of the "clouds_all" column: ' + ",".join(str(i) for i in r_list))

Max, min, mean and the std of the "clouds_all" column: 100.000,0.000,49.369,39.016

**Q6.4 What are the max, min, mean and the std of the `rain_1h` column?**

In [48]:
lst = [df_clean['rain_1h'].max(), df_clean['rain_1h'].min(), df_clean['rain_1h'].mean(), df_clean['rain_1h'].std()]
r_list = [f"{i:.3f}" for i in lst]
print (f'Max, min, mean and the std of the "rain_1h" column: ' + ",".join(str(i) for i in r_list))

Max, min, mean and the std of the "rain_1h" column: 9831.300,0.000,0.334,44.796

In [49]:
# Display data types of all columns

**Q7.3 How many columns have `float64` data type?**

In [51]:
count = (df_clean.dtypes == 'float64').sum()
print(f'Number of columns with float64 data type: {count}')

Number of columns with float64 data type: 5

**Q7.4 What are the columns with dtype == `float64`?**

In [53]:
count = [i for i in df_clean.columns if df_clean[i].dtypes == 'float64']
s_count = sorted(count)
print(f'Columns with float64 data type: ' + ",".join(str(i) for i in s_count))

Columns with float64 data type: clouds_all,rain_1h,snow_1h,temp,traffic_volume

# 3. Data selection

In pandas.DataFrame you could select

  Row/s by position (integer number [0 .. number of rows - 1]) .iloc or by DataFrame.index .loc:   

```
  data.loc[0]  
  data.loc[5:10]  
  data.iloc[0]  
  data.iloc[5:10]   
```

Though, this is probably the worst way to manipulate rows.   
  Columns by name

```
  data[columname]
```

  Row/s and columns

```
  data.loc[10, columname]  
  data.iloc[10, columname]  
```

Using boolean mask

```
  mask = data[columname] > value  
  data[mask]  
```

You could combine multiple conditions using & or | (and, or)   

```
cond1 = data[columname1] > value1  
cond2 = data[columname2] > value2  
data[cond1 & cond2]  
```

Using queries .query():  

```
value = 5 
data.query("columname > value")  
```

You could combine multiple conditions using and, or  

```
data.query("(columname1 > value1) and (columname2 > value2)")
```

and others. See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html for more examples.

Remember to use different quotation marks " or ' for columnname inside a query.

In [55]:
# Select rows by position(!) (int)

**Q8.1 What is the temperature of the time slot with index 777?**

In [57]:
temp = df_clean.iloc[776].temp
print (f'Temperature of the time slot with index 777: {temp:.3f}')

Temperature of the time slot with index 777: 278.780

**Q8.2 What is the weather description of the time slot with index 999?**

In [59]:
weath = df_clean.iloc[998].weather_description
print (f'Weather description of the time slot with index 999: {weath}')

Weather description of the time slot with index 999: overcast clouds

In [60]:
# Select rows by index(!) (int)

**Q9.2 What is the weather description of the time slot on index 5695?**

In [62]:
weath = df_clean.loc[5695].weather_description
print (f'Weather description of the time slot on index 5695: {weath}')

Weather description of the time slot on index 5695: overcast clouds

**Q9.5 When was the time slot with index of 38 captured?**

In [64]:
time = df_clean.loc[38].date_time
print (f'Time slot with index 38: {time}')

Time slot with index 38: 2012-10-04 03:00:00

In [65]:
# Using mask or .query syntax select rows/columns (int)

**Q10.4 How many time slots are foggy? (weather_main = Fog)**

In [67]:
fog = (df_clean['weather_main'] == 'Fog').sum()
print(f'Number of foggy time slots: {fog}')

Number of foggy time slots: 912

**Q10.5 When was the last observed timeslot with weather_description "heavy snow"?**

In [69]:
time = df_clean[df_clean['weather_description'] == 'heavy snow']
l_time_i = time.index[-1]
l_time = df_clean.loc[l_time_i, 'date_time']
print(f'Last observed time slot with heavy snow: {l_time}')

Last observed time slot with heavy snow: 2018-04-15 18:00:00

**Q11.1 What is the traffic volume of November 20th 2016, at 20:00?**

In [71]:
traffic = df_clean[df_clean['date_time'] == '2016-11-20 20:00:00']
traffic_r = traffic['traffic_volume'].values[0]
print (f'Traffic volume of November 20th 2016, at 20:00: {traffic_r:.3f}')

Traffic volume of November 20th 2016, at 20:00: 2070.000

**Q11.4 What is the `traffic_volume` of a thirty fourth sample with `clouds_all` == 90?**

In [73]:
cond1 = df_clean[df_clean['clouds_all'] == 90]
cond2 = cond1.iloc[33]
traffic = cond2['traffic_volume']
print (f'Traffic volume of a thirty fourth sample with clouds_all == 90: {traffic:.3f}')

Traffic volume of a thirty fourth sample with clouds_all == 90: 4329.000

**Q12.2 What is the traffic volume for 99-th time slot with cloud coverage 75 percent?**

In [75]:
cond1 = df_clean[df_clean['clouds_all'] == 75]
cond2 = cond1.iloc[98]
traffic = cond2['traffic_volume']
print (f'Traffic volume of a 99-th time slot with cloud coverage 75 percent: {traffic:.3f}')

Traffic volume of a 99-th time slot with cloud coverage 75 percent: 1437.000

**Q12.5 What is the temperature of 1337-th time slot with clear sky (clouds_all <= 20)?**

In [77]:
cond1 = df_clean[df_clean['clouds_all'] <= 20]
cond2 = cond1.iloc[1336]
temp = cond2['temp']
print (f'Temperature of 1337-th time slot with clear sky: {temp:.3f}')

Temperature of 1337-th time slot with clear sky: 276.630

# 4. Creating new columns

Creating new column of pandas.DataFrame is as easy as:
```
data['new_awesome_column'] = [] 
```
that's it. But such a column is relatively useless. Typically, you would compute something new based on existing data and save it in a new column. For example one might want to sum a number of existing columns:
```
data['sum'] = data[col1] + data[col2] + ...
```
Pandas also provides another powerfull tool: .apply, .map(), .applymap() methods (they are kinda the same, but not quite). https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas . They allow you to apply some function to every value in the column/s (row-wise) or row (column-wise) or cell (element-wise). For example, same computations of sum using .apply():
```
data['sum'] = data[[col1, col2, col3]].apply(sum, axis=1)
```
you are not restricted to existent functions, .apply() accepts any function (including lambda functions):
```
data['sum'] = data[[col1, col2, col3]].apply(lambda x: x[0]+x[1]+x[2], axis=1)
```
or ordinary python function (if this it should have complex behaviour):
```
def _sum(x):
    total = 0
    for elem in x:
        total += elem
    return total

data['sum'] = data[[col1, col2, col3]].apply(_sum, axis=1) 
```
Many pandas methods has axis parameter axis=0 refers to rows, axis=1 refers to columns.

Warning. You should never use for loops to sum numerical elements from the container.

In [79]:
# Create new columns using the old ones (new column in your DataFrame)

**Q13.1 Create a `temp_in_celcius` column from the existing `temp` (kelvin) using any method above**

In [81]:
df_clean = df_clean.copy()
df_clean['temp_in_celsius'] = df_clean['temp'] - 273.15

**Q13.2 Create a new bool column `hot` which indicates whether the time slot was hot (temp > 300)**

In [83]:
df_clean['hot'] = df_clean['temp'] > 300

**Q13.3 Create a new bool column `rainy_and_cloudy` which indicates whether it was rainy (>0.1) AND cloudy (>50)**

In [85]:
df_clean['rainy_and_cloudy'] = (df_clean['rain_1h'] > 0.1) & (df_clean['clouds_all'] > 50)

**Q13.4 Create a new bool column `is_holiday` which indicates whether the day of the time slot falls on any holiday**

In [87]:
df_clean['is_holiday'] = df_clean['holiday'] != 'none'

**Q13.5 Create a new column `traffic_cat` by splitting a `traffic_volume` into 5 ([1..5]) distinct intervals: 0 <= x <=20%, 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.**

In [89]:
mask = (df_clean.traffic_volume <= df_clean.traffic_volume.quantile(0.2))
df_clean.loc[mask, 'traffic_cat'] = 1
mask = (df_clean.traffic_volume.quantile(0.2) < df_clean.traffic_volume) & (df_clean.traffic_volume <= df_clean.traffic_volume.quantile(0.4)) 
df_clean.loc[mask, 'traffic_cat'] = 2
mask = (df_clean.traffic_volume.quantile(0.4) < df_clean.traffic_volume) & (df_clean.traffic_volume <= df_clean.traffic_volume.quantile(0.6)) 
df_clean.loc[mask, 'traffic_cat'] = 3
mask = (df_clean.traffic_volume.quantile(0.6) < df_clean.traffic_volume) & (df_clean.traffic_volume <= df_clean.traffic_volume.quantile(0.8))
df_clean.loc[mask, 'traffic_cat'] = 4
mask = (df_clean.traffic_volume.quantile(0.8) < df_clean.traffic_volume)
df_clean.loc[mask, 'traffic_cat'] = 5

In [90]:
# Using mask or .query syntax select rows/columns (int).
# For working with dates, define helper functions that operate on the date_time string.
# (transform dates in datetime format in Q14.x and Q15.x is forbidden!, work with date as the string)

**Q14.2 How many rainy time slots (rain_1h > 0.1) that were captured in the fall (all falls, not in only ine year), with traffic volume more than 2000?**

In [92]:
def fall(date):
    month = date[5:7]
    return month in ['09', '10', '11']

filt = df_clean[(df_clean['rain_1h'] > 0.1) & (df_clean['traffic_volume'] > 2000) & df_clean['date_time'].apply(fall)]
print(f'Number of rainy time slots in fall with traffic volume> 2000: {filt.shape[0]}')

Number of rainy time slots in fall with traffic volume> 2000: 589

**Q14.4 What is the minimum traffic volume of time slots captured on March 8th (all years), that was warmer than 290?**

In [94]:
def march(date):
    month = date[5:7]
    day = date [8:10]
    return month == '03' and day == '08'

filt = df_clean[(df_clean['temp'] > 290) & df_clean['date_time'].apply(march)]
print(f'Minimum traffic volume on March 8th when temp > 290: {filt['traffic_volume'].min():.3f}')

Minimum traffic volume on March 8th when temp > 290: 4780.000

In [95]:
# Using mask or .query syntax select rows/columns and compute simple statistics (float)

**Q15.1 What was the average temperature of time slots with main weather "Haze"?**

In [97]:
av = df_clean[df_clean['weather_main'] == 'Haze']
print(f'Average temperature of time slots with main weather "Haze": {av['temp'].mean():.3f}')

Average temperature of time slots with main weather "Haze": 275.805

**Q15.2 What was the traffic volume of the coldest time slot of the year 2016?**

In [99]:
def year(date):
    y = date[0:4]
    return y == '2016' 
year_df = df_clean[df_clean['date_time'].apply(year)]
mind = year_df['temp'].idxmin()
traffic = year_df.loc[mind, 'traffic_volume']
print (f'Traffic volume of the coldest time slot of the year 2016: {traffic:.3f}')

Traffic volume of the coldest time slot of the year 2016: 1462.000

In [100]:
# Using mask or .query syntax select rows/columns (float)
# Remeber: string 'none' is not a holiday but also not equal to None

**Q16.1 What is the average temperature in celcius of the time slots with rainy_and_coudy=True?**

In [102]:
av = df_clean[df_clean['rainy_and_cloudy'] == True]['temp_in_celsius'].mean()
print(f'Average temperature in celsius with rainy_and_coudy=True: {av:.3f}')

Average temperature in celsius with rainy_and_coudy=True: 13.585

**Q16.2 What is the average traffic volume on holidays?**

In [104]:
av = df_clean[df_clean['holiday'] != 'none']['traffic_volume'].mean()
print(f'Average traffic volume on holidays: {av:.3f}')

Average traffic volume on holidays: 865.443

**Q16.3 What is the average traffic volume on non-holidays?**

In [106]:
av = df_clean[df_clean['holiday'] == 'none']['traffic_volume'].mean()
print(f'Average traffic volume on non-holidays: {av:.3f}')

Average traffic volume on non-holidays: 3262.894

**Q16.4 What is the average traffic volume in the highest quantile?**

In [108]:
av = df_clean[df_clean['traffic_cat'] == 5]['traffic_volume'].mean()
print(f'Average traffic volume in the highest quantile: {av:.3f}')

Average traffic volume in the highest quantile: 5870.913

**Q16.5 What is the average traffic volume in the lowest quantile?**

In [110]:
av = df_clean[df_clean['traffic_cat'] == 1]['traffic_volume'].mean()
print(f'Average traffic volume in the lowest quantile: {av:.3f}')

Average traffic volume in the lowest quantile: 485.554

# 5. Basic date processing

You figure out that column date is to harsh for you, so you decided to convert it to a more plausible format:

- Use pandas method to_datetime() to convert the date to a good format.
- Extract year, month, day and weekday from your new date column. Save them to separate columns.
- How many columns has your data now?
- Drop column date, remember to set inplace parameter to True.

Hint: for datetime formatted date you could extract the year as follow:
```
data.date.dt.year
```
Very often date could be a ridiculously rich feature, sometimes it is holidays that matters, sometimes weekends, sometimes some special days like black friday.

Learn how to work with date in Python!

In [112]:
# Create new columns based on `Captured` column

**Q17.1 Convert date to datetime format**

In [114]:
df_clean['date_time'] = pd.to_datetime(df_clean['date_time'])

**Q17.4 Extract and store day**

In [116]:
df_clean['day'] = df_clean['date_time'].dt.day

In [117]:
# Find some date related information from the data
# Weekday is a name, string, not index ("Monday"-like)

**Q18.4 What is the average traffic volume in the time period between 15-19 hours**

In [119]:
traffic = df_clean[(df_clean['date_time'].dt.hour >= 15) & (df_clean['date_time'].dt.hour <= 19)]
print(f'Average traffic volume between 15 and 19 hours: {traffic['traffic_volume'].mean():.3f}')

Average traffic volume between 15 and 19 hours: 4749.296

**Q18.5 What is the average traffic volume on World Bicycle Day (June 3)?**

In [121]:
traffic = df_clean[(df_clean['date_time'].dt.month == 6) & (df_clean['date_time'].dt.day == 3)]
print(f'Average traffic volume on World Bicycle Day (June 3): {traffic['traffic_volume'].mean():.3f}')

Average traffic volume on World Bicycle Day (June 3): 3445.976

# 6. Groupby

from the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

By “group by” we are referring to a process involving one or more of the following steps:

- Splitting the data into groups based on some criteria.
- Applying a function to each group independently.
- Combining the results into a data structure.

`.groupby()` is one of the most powerfull tool for feature engineering. Very often it is used to group object with the same categorical characteristics and compute some statistics (e.g. mean, max, etc.) of a their numerical characteric.

Instead of computing average traffic volume with for each month you could compute average traffic volumes for every month in a single command:
```
data.groupby('month')['traffic_volume'].mean()
```
You could also make multi-column groups:
```
data.groupby(['weekday','month'])['traffic_volume'].min()
```
next, you could compute multiple aggregation functions:
```
data.groupby(['weekday','month'])['traffic_volume'].agg([min, max])
```
instead of using built-in functions you could compute custom functions using apply:
```
import numpy as np
data.groupby(['weekday','month'])['traffic_volume'].apply(lambda x: np.quantile(x, .5))
```
and the coolest thing now is that you can map the results of groupby back on your DataFrame!
```
gp = data.groupby(['month'])['traffic_volume'].median()
data['gp_feature'] = data['month'].map(gp)
```
Now, if some timeslot has month == 2, its gp_feature will be equal to the median traffic volume amongst all observations in February

Read more examples in the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [123]:
# Create some groupby features

**Q19.1 `traffic_by_year` groupby `year` and compute median traffic volume.**

In [125]:
df_clean['year'] = df_clean['date_time'].dt.year
traffic_by_year = df_clean.groupby(df_clean['year'])['traffic_volume'].median()
df_clean['traffic_by_year'] = df_clean['year'].map(traffic_by_year)
print(traffic_by_year)

year
2012    3225.0
2013    3344.0
2014    3316.0
2015    3368.0
2016    3258.5
2017    3530.0
2018    3400.0
Name: traffic_volume, dtype: float64

**Q19.2 `traffic_by_weekday` groupby `weekday` and compute median traffic volume.**

In [127]:
df_clean['weekday'] = df_clean['date_time'].dt.day_name()
traffic_by_weekday = df_clean.groupby(df_clean['weekday'])['traffic_volume'].median()
df_clean['traffic_by_weekday'] = df_clean['weekday'].map(traffic_by_weekday)
print(traffic_by_weekday)

weekday
Friday       4336.5
Monday       3619.0
Saturday     3003.0
Sunday       2260.0
Thursday     4280.0
Tuesday      4070.0
Wednesday    4315.0
Name: traffic_volume, dtype: float64

**Q19.3 `temperature_by_traffic` groupby `traffic_cat` and compute average temperature in celsius.**

In [129]:
temperature_by_traffic = df_clean.groupby(df_clean['traffic_cat'])['temp_in_celsius'].mean()
df_clean['temperature_by_traffic'] = df_clean['traffic_cat'].map(temperature_by_traffic)
print(temperature_by_traffic)

traffic_cat
1.0    5.445774
2.0    6.031004
3.0    9.244710
4.0    9.797489
5.0    9.740191
Name: temp_in_celsius, dtype: float64

# 7. Building a regression model

- **You do not need to normalize data for tree models, and for linear/knn models this step is essential**.
- Remember, that not all of the features in the table are numeric, some of them might be viewed as categorical.
- You may create or drop any features you want - try to only keep features which you think will be relevant to the prediction of traffic volume.

**Q20 Separate your data into inputs and targets, keeping only relevant inputs. Drop any features computed from the output eg. `traffic_cat`**

In [132]:
df_clean['is_weekend'] = df_clean['date_time'].dt.dayofweek.isin([5, 6]).astype(int)
df_clean['month'] = df_clean['date_time'].dt.month
df_clean['hour'] = df_clean['date_time'].dt.hour
Y = df_clean["traffic_volume"].values
good_columns = ['temp_in_celsius', 'rain_1h', 'snow_1h', 'clouds_all', 
                'is_weekend', 'is_holiday', 'month', 'hour']
Xdf = df_clean[good_columns].copy()

In [133]:
Xdf

,temp_in_celsius,rain_1h,snow_1h,clouds_all,is_weekend,is_holiday,month,hour
0,15.13,0.0,0.0,40.0,0,False,10,9
1,16.21,0.0,0.0,75.0,0,False,10,10
2,16.43,0.0,0.0,90.0,0,False,10,11
3,16.98,0.0,0.0,90.0,0,False,10,12
4,17.99,0.0,0.0,75.0,0,False,10,13
...,...,...,...,...,...,...,...,...
48199,10.30,0.0,0.0,75.0,1,False,9,19
48200,9.61,0.0,0.0,90.0,1,False,9,20
48201,9.58,0.0,0.0,90.0,1,False,9,21
48202,8.94,0.0,0.0,90.0,1,False,9,22
48203,8.97,0.0,0.0,90.0,1,False,9,23

In [134]:
Y

array([5545., 4516., 4767., ..., 2159., 1450.,  954.])

Now it's time to split our data into train and test sets. Generally a random split is used, but one needs to be very careful with time series data - we need to make sure train and test data don't contain mixed adjacent time slots. In general with time series, it is recommended not to predict values from the past using input information from the future (although the applicability of this rule in our case is debatable), so we'll use sklearn's [TimeSeriesSplit](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html) class here. TimeSeriesSplit splits data into a number of folds, then only provides data from past folds to train a model tested on the currently considered fold. So if we split our data into five parts, we'll get four folds:

1. Train on [0], test on [1]
2. Train on [0,1], test on [2]
3. Train on [0, 1, 2], test on [3]
4. Train on [0, 1, 2, 3], test on [4]

For the following tasks, you are required to use train and test indices from the last fold provided by TimeSeriesSplit with `n_splits` = 5.

In [136]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [137]:
cat_columns = ['is_weekend', 'is_holiday']
num_columns = ['temp_in_celsius', 'rain_1h', 'snow_1h', 'clouds_all', 'hour', 'month'] #i understand that probably it is incorrect to put hour and month in numerical columns but i could not come with other solution :(
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), num_columns),
        ('cat', OneHotEncoder(drop='first', sparse_output=False), cat_columns)
    ])
X_processed = preprocessor.fit_transform(Xdf)

**Q21 Split your data into train and test parts.**

In [139]:
# How many records (rows) do you have in train and test tables? (list of int)?
# Use sklearn.model_selection.TimeSeriesSplit with n_splits=5
# in google forms report two ints: n_rows_train,n_rows_test
from sklearn.model_selection import TimeSeriesSplit

In [140]:
t = TimeSeriesSplit(n_splits=5)
for train_index, test_index in t.split(X_processed):
    X_train, X_test = X_processed[train_index], X_processed[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
print(f"Train samples: {len(X_train)}, Test samples: {len(X_test)}")

Train samples: 40159, Test samples: 8031

In [141]:
X_train

array([[ 0.53074094, -0.00746411, -0.0272323 , ...,  1.0274999 ,
         0.        ,  0.        ],
       [ 0.61171705, -0.00746411, -0.0272323 , ...,  1.0274999 ,
         0.        ,  0.        ],
       [ 0.62821218, -0.00746411, -0.0272323 , ...,  1.0274999 ,
         0.        ,  0.        ],
       ...,
       [-1.54089774, -0.00746411, -0.0272323 , ...,  1.61562252,
         0.        ,  0.        ],
       [-1.53265018, -0.00746411, -0.0272323 , ...,  1.61562252,
         0.        ,  0.        ],
       [-1.54164752, -0.00746411, -0.0272323 , ...,  1.61562252,
         0.        ,  0.        ]])

In [142]:
# Create a predictive regression model of a traffic volume.
from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor

**Q22.1 Use linear regression with l2 regularization (Ridge regression)**

In [144]:
reg = Ridge()
reg.fit(X_train, y_train)
y_pred_ridge = reg.predict(X_test)

**Q22.2 Use decision tree regression**

In [146]:
destree = DecisionTreeRegressor()
destree.fit(X_train, y_train)
y_pred_tree = destree.predict(X_test)

**Q22.3 Use k nearest neighbours regression**

In [148]:
knn = KNeighborsRegressor()
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)

In [149]:
# Use grid search to select optimal hyperparamters of your models. 
from sklearn.model_selection import GridSearchCV

**Q23.1 Alpha for a ridge regression**

In [151]:
param = {'alpha': [10**x for x in np.linspace(0.1, 2.0, 50)]}
ridge_gs = GridSearchCV(Ridge(), param)
ridge_gs.fit(X_train, y_train)
ridge_pred = ridge_gs.predict(X_test)
print(ridge_gs.best_params_)

{'alpha': 100.0}

**Q23.2 Depth for the tree**

In [153]:
param = {'max_depth': range(1, 20)}  
dtree_gs = GridSearchCV(DecisionTreeRegressor(), param)
dtree_gs.fit(X_train, y_train)
dtree_pred = dtree_gs.predict(X_test)
print(dtree_gs.best_params_)

{'max_depth': 7}

**Q23.3 Number of neighbours for the knn**

In [155]:
param = {'n_neighbors': range(1, 15)}
knn_gs = GridSearchCV(KNeighborsRegressor(), param)
knn_gs.fit(X_train, y_train)
knn_pred = knn_gs.predict(X_test)
print(knn_gs.best_params_)

{'n_neighbors': 12}

In [156]:
# Compute train and test mean squared error for your best models (list of float).
from sklearn.metrics import mean_squared_error, r2_score

**Q24.1 Train, test MSE using linear regression with l2 regularization**

In [161]:
ridge_reg = Ridge(alpha=100)
ridge_reg.fit(X_train, y_train)
ridge_train_mse = mean_squared_error(y_train, reg.predict(X_train))
ridge_test_mse = mean_squared_error(y_test, y_pred_ridge)
print(f'{ridge_train_mse:.3f},{ridge_test_mse:.3f}')

3233516.760,3167718.275

**Q24.2 Train, test MSE using decision tree regression**

In [163]:
destree = DecisionTreeRegressor(max_depth=7) 
destree.fit(X_train, y_train)
tree_train_mse = mean_squared_error(y_train, destree.predict(X_train))
tree_test_mse = mean_squared_error(y_test, y_pred_tree)
print(f'{tree_train_mse:.3f},{tree_test_mse:.3f}')

289277.310,565422.343

**Q24.3 Train, test MSE using k nearest neighbours regression**

In [165]:
knn = KNeighborsRegressor(n_neighbors=12)
knn.fit(X_train, y_train)
knn_train_mse = mean_squared_error(y_train, knn.predict(X_train))
knn_test_mse = mean_squared_error(y_test, y_pred_knn)
print(f'{knn_train_mse:.3f},{knn_test_mse:.3f}')

262950.248,413172.105

In [167]:
# Compute train and test R^2 for your best models (list of float).
from scipy.stats import pearsonr

**Q25.1 Train, test R^2 using linear regression with l2 regularization**

In [170]:
ridge_train_r2 = r2_score(y_train, reg.predict(X_train))
ridge_test_r2 = r2_score(y_test, y_pred_ridge)
print(f'{ridge_train_r2:.3f},{ridge_test_r2:.3f}')

0.184,0.183

**Q25.2 Train, test R^2 using decision tree regression**

In [173]:
tree_train_r2 = r2_score(y_train, destree.predict(X_train))
tree_test_r2 = r2_score(y_test, y_pred_tree)
print(f'{tree_train_r2:.3f},{tree_test_r2:.3f}')

0.927,0.854

**Q25.3 Train, test R^2 using k nearest neighbours regression**

In [176]:
knn_train_r2 = r2_score(y_train, knn.predict(X_train))
knn_test_r2 = r2_score(y_test, y_pred_knn)
print(f'{knn_train_r2:.3f},{knn_test_r2:.3f}')

0.934,0.893

In [178]:
# Q26 Which features have largest (by absolute value) weight in your linear model (top 5 features)? (list of str).
print(list(Xdf.columns[np.argsort(np.abs(ridge_reg.coef_))[-5::]]))

['clouds_all', 'temp_in_celsius', 'hour', 'is_weekend', 'month']

# Make sure your .ipynb is linearly executable     
# Kernel -> Restart & Run All -> No ERROR cells

In [180]:
# Q27 Save your .ipynb file: FirstName_SecondName_HA1.ipynb, you will be asked to upload it into the google form.